{% extends "pollingApp/base.html" %}
{% block content %}

<div class="main-wrapper">
  <div class="hero-section">
    <h1>Voting Application</h1>
    <span class="quote">Your valuable decision</span>

    <br>
    <br>
    <div class="metrics">
      <div class="metric">Questions <br>{{total_questions}}</div>
      <div class="metric">Votes <br>{{total_votes}}</div>
    </div>
  </div>


  <div class="messages">
          <!-- Display messages -->
      {% if messages %}
      <ul>
          {% for message in messages %}
              <li>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %} 
  </div>



  <section class="question-section">
    <h2>Queries of the day</h2>
    {% if latest_question_list %}
      <ul class="question-list">
        {% for question in latest_question_list %}
        <li class="question">
          <a href="{% url "pollingApp:detail" question.id %}">{{ question.question_text }}</a>
          
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No polls are available.</p>
    {% endif %} 
  </section>
</div>

{% endblock content %}